@import './style.css';

/*

mobile version

*/

article {
  background-color: var(--articleBackgroundColor);
  margin: 1rem 1rem;
  border-radius: 0.5rem;
}

.inner-article {
  padding: 0.5rem 0.5rem;
}

.price {
  margin: 0.25rem 0rem;
  padding: 0.15rem;
  background-color: var(--priceBackgroundColor);
  border: 5px solid var(--priceBorderColor);
  color: var(--priceTextColor);
  border-radius: 5px;
  display: inline-block;
}


img {
  width: 100%;
  border-radius: 0.5rem;
}


/*

tablet version

*/

@media only screen and (min-width: 600px) and (max-width: 1300px) {
  main {
    margin-left: 1rem;
    margin-right: 1rem;

  }

  .menu-section {
    display: grid;
    grid-template-columns: 100%;

  }


  .inner-article {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 50% 50%;
  }

  .left-content-when-desktop-viewport {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }

  p {
    padding: 0.5rem 0rem;
  }

}

/*

desktop version

*/

@media only screen and (min-width: 1300px) {
  main {
    margin-left: 100px;
    margin-right: 100px;

  }

  .menu-section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

  }

  #article-one {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  #article-two {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  #article-three {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  #article-four {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  .inner-article {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 50% 50%;
  }

  .left-content-when-desktop-viewport {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }

  p {
    padding: 0.5rem 0rem;
  }

}